###  Second model and evaluation metrics 
- Using RandonForest (from sklearn.linear_model package) as Second model.
- Fitting train data and checking for performance metrices on train and test data
- Checking with different number of features selected as per feature selection model

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model  import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

C:\Users\rutvi\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### Load data from train and test files, which is saved after performing EDA and Feature Selection

In [2]:
!pip install pandas --upgrade

Requirement already satisfied: pandas in c:\users\rutvi\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\rutvi\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rutvi\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rutvi\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rutvi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rutvi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [8]:
df_sample = pd.read_csv(r'C:\Rutvika\BrainStation\CapstoneProject\AllstateClaimPredictionChallenge\DataSets\NewDataSet\sample_after_eda_fe_2.csv', index_col='Row_ID', low_memory=False)
df_sample.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,NVVar1,NVVar2,...,NVCat_F,NVCat_G,NVCat_H,NVCat_I,NVCat_J,NVCat_K,NVCat_L,NVCat_M,NVCat_N,NVCat_O
Row_ID,,,,,,,,,,,,,,,,,,,,,
48,-0.392708,0.394228,0.426171,0.316372,-0.210252,-0.275857,-1.021362,-0.208853,-0.263354,1.330680,...,0,0,0,0,0,0,0,0,1,0
102,-0.665897,-0.816152,-0.823407,-0.749192,-0.198358,-0.650165,-0.861623,-0.750637,-0.263354,1.330680,...,0,0,0,0,0,0,0,0,0,0
155,2.130275,0.826507,1.629469,1.162057,2.067504,1.162886,1.374723,0.373329,-0.263354,0.941460,...,0,0,1,0,0,0,0,0,0,0
212,-0.754282,-1.680709,-1.101091,-1.679445,-0.971487,-1.405797,-0.837048,-0.265708,-0.263354,-0.309405,...,0,0,1,0,0,0,0,0,0,0
352,3.456046,0.307772,1.606328,0.400940,2.626535,1.360567,1.423873,-0.652283,-0.263354,-0.309405,...,0,0,0,0,0,0,0,1,0,0

In [9]:
features_scores = pd.read_csv(r'C:\Rutvika\BrainStation\CapstoneProject\AllstateClaimPredictionChallenge\DataSets\NewDataSet\features_scores.csv', index_col=0,  low_memory=False)
features_scores.head()

  Column_Name     Scores
0        Var1  39.953330
1        Var2  47.331342
2        Var3  45.925728
3        Var4  52.436228
4        Var5  30.549903

###  Splitting data into Train and Test datasets using 80 - 20 ratio

In [10]:
X = df_sample.drop(columns=['Claim_Amount'])
y = df_sample['Claim_Amount']

### 1. Testing RandomForest model with top 30 features after applying SelectKBe class to dataset for further analysis

In [11]:
X1 = X.loc[:,list(features_scores.sort_values(by='Scores', ascending=False).iloc[:30,0])]

In [12]:
X1.head()

,NVCat_M,NVVar3,NVVar2,NVCat_N,NVCat_L,NVCat_J,NVCat_B,Var4,OrdCat_5,Var2,...,Cat3_C,Var7,NVCat_H,Cat7_C,Cat6_D,Cat6_B,Vehicle_Age,Cat6_E,NVVar4,Cat4_?
Row_ID,,,,,,,,,,,,,,,,,,,,,
48,0,-0.317918,1.330680,1,0,0,0,0.316372,0,0.394228,...,0,-1.021362,0,0,0,1,1,0,-0.289576,0
102,0,1.312511,1.330680,0,0,0,1,-0.749192,0,-0.816152,...,0,-0.861623,0,1,0,1,5,0,-0.289576,0
155,0,-0.317918,0.941460,0,0,0,0,1.162057,1,0.826507,...,0,1.374723,1,0,1,0,4,0,1.225148,1
212,0,1.809231,-0.309405,0,0,0,0,-1.679445,0,-1.680709,...,0,-0.837048,1,1,0,0,10,0,-0.289576,0
352,1,-0.317918,-0.309405,0,0,0,0,0.400940,1,0.307772,...,1,1.423873,0,0,0,0,10,1,-0.289576,1

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.2, random_state=1)

In [19]:
print(f"Shape of Train data: {X_train.shape}, Shape of Test data: {X_test.shape}")

Shape of Train data: (76484, 30), Shape of Test data: (19121, 30)

### 1. RandomForest

#### Creating Pipeline for applying scaling on data using StandartScalar and then creating LinearRegression model

In [13]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
#from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

In [14]:
# Create models
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest': RandomForestRegressor(),
    #'LGBM': LGBMRegressor(),
    'XGBoost': XGBRegressor()
    #'Gradient Boosting': GradientBoostingRegressor()    
}

# Create a dictionary of hyperparameters for grid search
param_grid = {
    'Linear Regression': {
        'scaler': [StandardScaler(), MinMaxScaler()],
        'dim_reducer__n_components':[8,10,15]
    },
    'Decision Tree':{
        'scaler': [StandardScaler(), MinMaxScaler()],
        'dim_reducer__n_components':[8,10,15],        
        'regressor__random_state': [42],
    },
    'Random Forest': {
        'regressor__n_estimators': [10, 50, 100],
        'regressor__max_depth': [10, 20, 30],
        'scaler': [StandardScaler(), MinMaxScaler()],
        'regressor__random_state': [42],
        'dim_reducer__n_components':[8,10,15]
    },
    'XGBoost': {
        'regressor__n_estimators': [10, 50, 100],
        'regressor__max_depth': [10, 20, 30],
        'scaler': [StandardScaler(), MinMaxScaler()],
        'dim_reducer__n_components':[8,10,15],   
        'regressor__random_state': [42]
    }   
}

In [15]:

# Dictionary to store regression metrics
metrics = {
    'Model': [],
    'MSE': [],
    'MAE': [],
    'R2 Score': [],
    'Best_Params' : [],
    'Scaler':[]
}

In [16]:
metrics

{'Model': [],
 'MSE': [],
 'MAE': [],
 'R2 Score': [],
 'Best_Params': [],
 'Scaler': []}

1. LinearRegression with 30 features

In [ ]:
estimator_RF = [
    ('scaler',StandardScaler()),
    ('PCA', PCA()),
    ('RF',RandomForestRegressor(n_jobs=-1))
]

pipe_RF = Pipeline(estimator_RF)

params_RF = {'PCA__n_components': [5,8,9],
        'RF__n_estimators': [10, 50, 100],
        'RF__max_depth': [10, 20, 30],
        'RF__random_state': [42,52],
        'scaler': [StandardScaler(), MinMaxScaler()]}

grids_RF = GridSearchCV(pipe_RF, param_grid=params_RF)

grid_fit_RF = grids_RF.fit(X_train, y_train)

best_param_RF = grid_fit_RF.best_params_
model_RF = grid_fit_RF.best_estimator_

y_pred_RF = model_RF.predict(X_test)

# Evaluate the regressor's performance using Mean Squared Error
mse_RF = mean_squared_error(y_test, y_pred_LR)
 
print(f'Mean Squared Error: {mse_RF:.2f}')

train_score = grid_fit_RF.score(X_train, y_train)
test_score = grid_fit_RF.score(X_test, y_test)

print(f"Train score : {train_score}")
print(f"Test score : {test_score}")

In [133]:
best_param_LR

{'PCA__n_components': 9, 'scaler': StandardScaler()}

Let's execute LinearRegression model with best params

In [134]:
estimator = [
    ('scaler',StandardScaler()),
    ('PCA', PCA(n_components=9)),
    ('linearReg',LinearRegression(n_jobs=-1))
]

pipe_LR = Pipeline(estimator)

pipe_LR.fit(X_train, y_train)

train_score = pipe_LR.score(X_train, y_train)
test_score = pipe_LR.score(X_test, y_test)

y_pred = pipe_LR.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

metrics['Model'].append('LinearRegression_30')
metrics['MSE'].append(mse)
metrics['MAE'].append(mae)
metrics['R2 Score'].append(r2)
metrics['Best_Params'].append(best_param_LR)
metrics['Scaler'].append('StandardScaler()')

In [135]:
metrics

{'Model': ['LinearRegression_30'],
 'MSE': [3.109346273140106],
 'MAE': [1.463192488620086],
 'R2 Score': [0.014952935653679722],
 'Best_Params': [{'PCA__n_components': 9, 'scaler': StandardScaler()}],
 'Scaler': ['StandardScaler()']}

In [137]:
metrics_df = pd.DataFrame(metrics)
metrics_df

,Model,MSE,MAE,R2 Score,Best_Params,Scaler
0,LinearRegression_30,3.109346,1.463192,0.014953,"{'PCA__n_components': 9, 'scaler': StandardSca...",StandardScaler()

### 2. Testing Baseline model with top 25 features after applying SelectKBe class to dataset for further analysis

In [138]:
X2 = X.loc[:,list(features_scores.sort_values(by='Scores', ascending=False).iloc[:25,0])]
X2.head()

,NVCat_M,NVVar3,NVVar2,NVCat_N,NVCat_L,NVCat_J,NVCat_B,Var4,OrdCat_5,Var2,...,Cat1_B,NVCat_C,Cat1_D,Var5,Cat5_A,Cat3_C,Var7,NVCat_H,Cat7_C,Cat6_D
Row_ID,,,,,,,,,,,,,,,,,,,,,
48,0,-0.317918,1.330680,1,0,0,0,0.316372,0,0.394228,...,0,0,0,-0.210252,1,0,-1.021362,0,0,0
102,0,1.312511,1.330680,0,0,0,1,-0.749192,0,-0.816152,...,1,0,0,-0.198358,1,0,-0.861623,0,1,0
155,0,-0.317918,0.941460,0,0,0,0,1.162057,1,0.826507,...,0,0,1,2.067504,0,0,1.374723,1,0,1
212,0,1.809231,-0.309405,0,0,0,0,-1.679445,0,-1.680709,...,1,0,0,-0.971487,1,0,-0.837048,1,1,0
352,1,-0.317918,-0.309405,0,0,0,0,0.400940,1,0.307772,...,0,0,1,2.626535,0,1,1.423873,0,0,0

In [139]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size=0.2, random_state=1)

print(f"Shape of Train data: {X_train.shape}, Shape of Test data: {X_test.shape}")

Shape of Train data: (76484, 25), Shape of Test data: (19121, 25)

In [140]:
from sklearn.model_selection import GridSearchCV

estimator = [
    ('scaler',[StandardScaler()]),
    ('PCA', PCA()),
    ('linearReg',LinearRegression(n_jobs=-1))
]

pipe_LR = Pipeline(estimator, verbose=False)

params = {'PCA__n_components': [5,8,9],
         'scaler': [StandardScaler(), MinMaxScaler()],}

grids_LR = GridSearchCV(pipe_LR, param_grid=params)

grid_fit_LR = grids_LR.fit(X_train, y_train)

best_param_LR = grids_LR.best_params_
model_LR = grid_fit_LR.best_estimator_

y_pred_LR = model_LR.predict(X_test)

# Evaluate the regressor's performance using Mean Squared Error
mse_LR = mean_squared_error(y_test, y_pred_LR)
print(f'Mean Squared Error: {mse_LR:.2f}')

train_score = grid_fit_LR.score(X_train, y_train)
test_score = grid_fit_LR.score(X_test, y_test)

print(f"Train score : {train_score}")
print(f"Test score : {test_score}")
print(f"Best Params:{best_param_LR}")

Mean Squared Error: 3.11
Train score : 0.014306892811947858
Test score : 0.015417334371145786
Best Params:{'PCA__n_components': 9, 'scaler': StandardScaler()}

Let's execute LinearRegression model with best params

In [141]:
estimator = [
    ('scaler',StandardScaler()),
    ('PCA', PCA(n_components=9)),
    ('linearReg',LinearRegression(n_jobs=-1))
]

pipe_LR = Pipeline(estimator)

pipe_LR.fit(X_train, y_train)

train_score = pipe_LR.score(X_train, y_train)
test_score = pipe_LR.score(X_test, y_test)

y_pred = pipe_LR.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

metrics['Model'].append('LinearRegression_25')
metrics['MSE'].append(mse)
metrics['MAE'].append(mae)
metrics['R2 Score'].append(r2)
metrics['Best_Params'].append(best_param_LR)
metrics['Scaler'].append('StandardScaler()')

In [142]:
metrics

{'Model': ['LinearRegression_30', 'LinearRegression_25'],
 'MSE': [3.109346273140106, 3.1078807568284788],
 'MAE': [1.463192488620086, 1.462934666991916],
 'R2 Score': [0.014952935653679722, 0.01541721412693653],
 'Best_Params': [{'PCA__n_components': 9, 'scaler': StandardScaler()},
  {'PCA__n_components': 9, 'scaler': StandardScaler()}],
 'Scaler': ['StandardScaler()', 'StandardScaler()']}

### 3. Testing Baseline model with top 20 features after applying SelectKBe class to dataset for further analysis

In [143]:
X3 = X.loc[:,list(features_scores.sort_values(by='Scores', ascending=False).iloc[:20,0])]
X3.head()

,NVCat_M,NVVar3,NVVar2,NVCat_N,NVCat_L,NVCat_J,NVCat_B,Var4,OrdCat_5,Var2,Var6,Var3,OrdCat_2,Cat2_?,Var1,Cat1_B,NVCat_C,Cat1_D,Var5,Cat5_A
Row_ID,,,,,,,,,,,,,,,,,,,,
48,0,-0.317918,1.330680,1,0,0,0,0.316372,0,0.394228,-0.275857,0.426171,0,0,-0.392708,0,0,0,-0.210252,1
102,0,1.312511,1.330680,0,0,0,1,-0.749192,0,-0.816152,-0.650165,-0.823407,1,0,-0.665897,1,0,0,-0.198358,1
155,0,-0.317918,0.941460,0,0,0,0,1.162057,1,0.826507,1.162886,1.629469,0,0,2.130275,0,0,1,2.067504,0
212,0,1.809231,-0.309405,0,0,0,0,-1.679445,0,-1.680709,-1.405797,-1.101091,1,1,-0.754282,1,0,0,-0.971487,1
352,1,-0.317918,-0.309405,0,0,0,0,0.400940,1,0.307772,1.360567,1.606328,0,1,3.456046,0,0,1,2.626535,0

In [144]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X3, y, test_size=0.2, random_state=1)

print(f"Shape of Train data: {X_train.shape}, Shape of Test data: {X_test.shape}")

Shape of Train data: (76484, 20), Shape of Test data: (19121, 20)

In [146]:
from sklearn.model_selection import GridSearchCV

estimator = [
    ('scaler',[StandardScaler()]),
    ('PCA', PCA()),
    ('linearReg',LinearRegression(n_jobs=-1))
]

pipe_LR = Pipeline(estimator, verbose=False)

params = {'PCA__n_components': [5,8,9],
         'scaler': [StandardScaler(), MinMaxScaler()],}

grids_LR = GridSearchCV(pipe_LR, param_grid=params)

grid_fit_LR = grids_LR.fit(X_train, y_train)

best_param_LR = grids_LR.best_params_
model_LR = grid_fit_LR.best_estimator_

y_pred_LR = model_LR.predict(X_test)

# Evaluate the regressor's performance using Mean Squared Error
mse_LR = mean_squared_error(y_test, y_pred_LR)
print(f'Mean Squared Error: {mse_LR:.2f}')

train_score = grid_fit_LR.score(X_train, y_train)
test_score = grid_fit_LR.score(X_test, y_test)

print(f"Train score : {train_score}")
print(f"Test score : {test_score}")
print(f"Best Params:{best_param_LR}")

Mean Squared Error: 3.11
Train score : 0.01385032852391399
Test score : 0.014989237393504218
Best Params:{'PCA__n_components': 9, 'scaler': StandardScaler()}

Let's execute LinearRegression model with best params

In [147]:
estimator = [
    ('scaler',StandardScaler()),
    ('PCA', PCA(n_components=9)),
    ('linearReg',LinearRegression(n_jobs=-1))
]

pipe_LR = Pipeline(estimator)

pipe_LR.fit(X_train, y_train)

train_score = pipe_LR.score(X_train, y_train)
test_score = pipe_LR.score(X_test, y_test)

y_pred = pipe_LR.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

r2 = r2_score(y_test, y_pred)

metrics['Model'].append('LinearRegression_20')
metrics['MSE'].append(mse)
metrics['MAE'].append(mae)
metrics['R2 Score'].append(r2)
metrics['Best_Params'].append(best_param_LR)
metrics['Scaler'].append('StandardScaler()')

In [148]:
metrics

{'Model': ['LinearRegression_30',
  'LinearRegression_25',
  'LinearRegression_20'],
 'MSE': [3.109346273140106, 3.1078807568284788, 3.109231685045705],
 'MAE': [1.463192488620086, 1.462934666991916, 1.462752875039962],
 'R2 Score': [0.014952935653679722, 0.01541721412693653, 0.014989237389184118],
 'Best_Params': [{'PCA__n_components': 9, 'scaler': StandardScaler()},
  {'PCA__n_components': 9, 'scaler': StandardScaler()},
  {'PCA__n_components': 9, 'scaler': StandardScaler()}],
 'Scaler': ['StandardScaler()', 'StandardScaler()', 'StandardScaler()']}

In [149]:
#metrics['Model'][1] = 'LinearRegression_25'
metrics_df = pd.DataFrame(metrics)
metrics_df.head()

,Model,MSE,MAE,R2 Score,Best_Params,Scaler
0,LinearRegression_30,3.109346,1.463192,0.014953,"{'PCA__n_components': 9, 'scaler': StandardSca...",StandardScaler()
1,LinearRegression_25,3.107881,1.462935,0.015417,"{'PCA__n_components': 9, 'scaler': StandardSca...",StandardScaler()
2,LinearRegression_20,3.109232,1.462753,0.014989,"{'PCA__n_components': 9, 'scaler': StandardSca...",StandardScaler()

In [151]:
metrics_df.to_csv(r'C:\Rutvika\BrainStation\CapstoneProject\AllstateClaimPredictionChallenge\DataSets\NewDataSet\Result\metrics_df_LinearRegression_with_FS.csv')