## Allstate Claim Prediction

### Goal of this activity:
**To better predict Bodily Injury Liability Insurance claim payments based on the characteristics of the insured customer’s vehicle.**

In [5]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

### Training Dataset
The training data consists of observations from years - 2005 to 2007.

In [3]:
df = pd.read_csv(r'C:\Rutvika\BrainStation\CapstoneProject\AllstateClaimPredictionChallenge\DataSets\train_set\train_set.csv')
df.head()

C:\Users\rutvi\AppData\Local\Temp\ipykernel_20148\3651868161.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Rutvika\BrainStation\CapstoneProject\AllstateClaimPredictionChallenge\DataSets\train_set\train_set.csv')

,Row_ID,Household_ID,Vehicle,Calendar_Year,Model_Year,Blind_Make,Blind_Model,Blind_Submodel,Cat1,Cat2,...,Var5,Var6,Var7,Var8,NVCat,NVVar1,NVVar2,NVVar3,NVVar4,Claim_Amount
0,1,1,3,2005,2005,K,K.78,K.78.2,D,C,...,1.008912,0.261040,0.907793,-0.077998,M,-0.23153,-0.266117,-0.272337,-0.251419,0.0
1,2,2,2,2005,2003,Q,Q.22,Q.22.3,B,C,...,1.240851,0.432987,-0.726459,0.204785,O,-0.23153,-0.266117,-0.272337,-0.251419,0.0
2,3,3,1,2005,1998,AR,AR.41,AR.41.1,B,?,...,-0.971487,-1.405797,-0.837048,-1.176858,F,-0.23153,-0.266117,-0.272337,-0.251419,0.0
3,4,3,1,2006,1998,AR,AR.41,AR.41.1,B,?,...,-0.971487,-1.405797,-0.837048,-1.176858,F,-0.23153,-0.266117,-0.272337,-0.251419,0.0
4,5,3,2,2005,2001,D,D.20,D.20.0,J,C,...,0.812656,2.112691,1.534462,2.347260,F,-0.23153,-0.266117,-0.272337,-0.251419,0.0

In [4]:
df.shape

(13184290, 35)

**The dataset contains the following information for each passenger:**

In [22]:
df.columns

X = df.drop(columns=['Claim_Amount'])

print(type(X))

X.columns

<class 'pandas.core.frame.DataFrame'>

Index(['Row_ID', 'Household_ID', 'Vehicle', 'Calendar_Year', 'Model_Year',
       'Blind_Make', 'Blind_Model', 'Blind_Submodel', 'Cat1', 'Cat2', 'Cat3',
       'Cat4', 'Cat5', 'Cat6', 'Cat7', 'Cat8', 'Cat9', 'Cat10', 'Cat11',
       'Cat12', 'OrdCat', 'Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6',
       'Var7', 'Var8', 'NVCat', 'NVVar1', 'NVVar2', 'NVVar3', 'NVVar4'],
      dtype='object')

In [23]:
y = df['Claim_Amount']

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=17)

print(type(X_train))
print(type(X_test))
print(type(y_train))
print(type(y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [29]:
df_train = pd.concat([X_train,y_train], axis=1)

df_train.shape

(10547432, 35)

In [30]:
df_test = pd.concat([X_test,y_test], axis=1)

df_test.shape

(2636858, 35)

In [31]:
df_train.shape[0]+ df_test.shape

13184290

In [5]:
# Extracted 70% of data from whole dataset for Training purpose
#df_train = df.sample(frac=0.7 ) 
#df_train.shape

(9229003, 35)

In [6]:
# Extracted 30% of data from whole dataset for Testing purpose
#df_test = df.sample(frac=0.3 )
#df_test.shape

(3955287, 35)

In [32]:
df_train.to_csv(r'C:\Rutvika\BrainStation\CapstoneProject\AllstateClaimPredictionChallenge\DataSets\NewDataSet\train.csv')

In [33]:
df_test.to_csv(r'C:\Rutvika\BrainStation\CapstoneProject\AllstateClaimPredictionChallenge\DataSets\NewDataSet\test.csv')

In [34]:
df_train.columns

Index(['Row_ID', 'Household_ID', 'Vehicle', 'Calendar_Year', 'Model_Year',
       'Blind_Make', 'Blind_Model', 'Blind_Submodel', 'Cat1', 'Cat2', 'Cat3',
       'Cat4', 'Cat5', 'Cat6', 'Cat7', 'Cat8', 'Cat9', 'Cat10', 'Cat11',
       'Cat12', 'OrdCat', 'Var1', 'Var2', 'Var3', 'Var4', 'Var5', 'Var6',
       'Var7', 'Var8', 'NVCat', 'NVVar1', 'NVVar2', 'NVVar3', 'NVVar4',
       'Claim_Amount'],
      dtype='object')

In [31]:
df_train.loc[:50,['Cat1','Cat2','Cat3','Cat4', 'Cat5', 'Cat6', 'Cat7', 'Cat8', 'Cat9', 'Cat10', 'Cat11','Cat12','OrdCat']]

         Cat1 Cat2 Cat3 Cat4 Cat5 Cat6 Cat7 Cat8 Cat9 Cat10 Cat11 Cat12 OrdCat
2365552     F    C    A    C    A    C    ?    B    B     A     A     B      2
8005395     D    C    A    ?    ?    D    ?    A    B     A     A     E      5
9855945     C    ?    E    B    A    C    ?    A    B     A     A     C      5
5889334     B    ?    E    A    A    B    C    A    B     A     C     B      2
11218260    B    ?    A    A    A    C    D    A    B     C     E     C      2
...       ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...    ...
2366445     B    C    A    A    A    E    C    A    B     A     A     B      5
5490719     B    C    A    A    A    D    C    B    B     A     C     C      4
10769793    B    C    A    A    A    C    ?    A    A     A     A     F      2
5092408     D    C    A    ?    ?    D    ?    A    B     B     A     C      5
50          B    ?    A    A    A    B    C    A    B     A     F     C      4

[4813727 rows x 13 columns]

In [13]:
df_train['Cat2'].value_counts()

C    4126809
?    3412112
A    1533025
B     157057
Name: Cat2, dtype: int64

In [14]:
df_train['Cat1'].value_counts()

B    2812072
I    1858772
D    1741416
F     913961
G     547211
A     538536
C     281141
E     195569
J     163506
H     158723
?      18096
Name: Cat1, dtype: int64

In [15]:
df_train['Cat3'].value_counts()

A    5240973
B    1580655
C     890029
E     619993
F     610249
D     284361
?       2743
Name: Cat3, dtype: int64

In [16]:
df_train['Cat4'].value_counts()

A    4005254
?    3942447
C    1018116
B     263186
Name: Cat4, dtype: int64

In [17]:
df_train['Cat5'].value_counts()

A    4679067
?    3946421
C     544862
B      58653
Name: Cat5, dtype: int64

In [45]:
for col in df_train.columns:
    print(f"df_train[{col}]'s unique count={df_train[col].value_counts().count()}")

df_train[Row_ID]'s unique count=9229003
df_train[Household_ID]'s unique count=3852782
df_train[Vehicle]'s unique count=27
df_train[Calendar_Year]'s unique count=3
df_train[Model_Year]'s unique count=29
df_train[Blind_Make]'s unique count=75
df_train[Blind_Model]'s unique count=1294
df_train[Blind_Submodel]'s unique count=2723
df_train[Cat1]'s unique count=11
df_train[Cat2]'s unique count=4
df_train[Cat3]'s unique count=7
df_train[Cat4]'s unique count=4
df_train[Cat5]'s unique count=4
df_train[Cat6]'s unique count=6
df_train[Cat7]'s unique count=5
df_train[Cat8]'s unique count=4
df_train[Cat9]'s unique count=2
df_train[Cat10]'s unique count=4
df_train[Cat11]'s unique count=7
df_train[Cat12]'s unique count=6
df_train[OrdCat]'s unique count=15
df_train[Var1]'s unique count=360
df_train[Var2]'s unique count=322
df_train[Var3]'s unique count=195
df_train[Var4]'s unique count=322
df_train[Var5]'s unique count=668
df_train[Var6]'s unique count=2624
df_train[Var7]'s unique count=357
df_train[Var8]'s unique count=6151
df_train[NVCat]'s unique count=15
df_train[NVVar1]'s unique count=29
df_train[NVVar2]'s unique count=27
df_train[NVVar3]'s unique count=31
df_train[NVVar4]'s unique count=30
df_train[Claim_Amount]'s unique count=66829

In [49]:
#df_train['Vehicle'].value_counts()

df_train[df_train['Vehicle']==29]

,Row_ID,Household_ID,Vehicle,Calendar_Year,Model_Year,Blind_Make,Blind_Model,Blind_Submodel,Cat1,Cat2,...,Var5,Var6,Var7,Var8,NVCat,NVVar1,NVVar2,NVVar3,NVVar4,Claim_Amount
7030155,7030156,4634031,29,2007,2005,BT,BT.72,BT.72.2,C,C,...,-0.751442,0.559316,-1.439141,7.407813,M,-0.23153,-0.266117,-0.272337,-0.251419,0.0